* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cdeff7;
    margin: 0;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    color: #000;
}


.years {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #888;
}

.years span {
    cursor: pointer;
    transition: color 0.3s;
}

.years span:hover {
    color: #000;
}

.years span.active {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.article-list {
    list-style-type: none;
}

.article-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.article-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.article-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.article-info span {
    font-size: 16px;
    color: #333;
}

.date {
    color: #888;
    font-size: 14px;
}

.right-section {
    width: 60%;
    padding: 20px;
}

.right-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.media-kit-btn {
    display: flex;
    align-items: center;
    background-color: rgba(67, 198, 172, 0.7);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    transition: background-color 0.3s;
    position: relative;

}


.media-kit-btn:hover {
    background-color: rgba(67, 198, 172, 1);
}
